# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
visualcloud_test

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# CUDA
cuda-*.send
cuda-*.recv
*.ptx

# Google Test
Testing/

# CLion
.idea/
cmake-build-*

# clang-tidy
.clang-tidy

# Videos
*.hevc
*.h265
*.h264
*.mp4

# plugins
.blur-cfgmcd.txt
.blur-cfgmcd.txt.in
.yolo-cfgmd.txt
.yolo-cfgmd.txt.in
